VITE_ARCGIS_PORTAL_URL=https://www.arcgis.com
VITE_ARCGIS_CLIENT_ID=
VITE_RUN_MODEL_TOOL_URL=https://notebookswebtools.arcgis.com/arcgis/rest/services/1714398fc38148488ee82a2a6c698c82/GPServer
VITE_RUN_HISTORY_TABLE_URL=
VITE_REPORT_NOTEBOOK_TOOL_URL=https://notebookswebtools.arcgis.com/arcgis/rest/services/29e2ba5e56fb42faba0f2e9d9ba06b4a/GPServer
VITE_TEST_PROJECT_LAYER_URL=https://services.arcgis.com/VxSYUpY4jQBSUpJ5/arcgis/rest/services/Test_Tool_Input/FeatureServer/0
VITE_TEST_CNDDB_LAYER_URL=https://services.arcgis.com/VxSYUpY4jQBSUpJ5/arcgis/rest/services/SDGE_Suncrest_CNDDB_CNDDB_clip_20260530_004117/FeatureServer/0
VITE_TEST_SUMMARY_TABLE_URL=https://services.arcgis.com/VxSYUpY4jQBSUpJ5/arcgis/rest/services/SDGE_Suncrest_CNDDB_All_Stats_20260530_003947/FeatureServer/0
VITE_TEST_FULL_CNDDB_LAYER_URL=https://services.arcgis.com/VxSYUpY4jQBSUpJ5/arcgis/rest/services/_CNDDB_Full_CA_view_temp/FeatureServer/0
